<mat-toolbar color="primary">
  <span>rep:{{dups}}-falta:{{total - uniq}}</span>
</mat-toolbar>
<div class="container-wrapper">
  <a href="#PaginaInicial" (click)="openPanel('PaginaInicial')">| Inicial |</a>
  <a href="#Estadios" (click)="openPanel('Estadios')">| Estádios |</a>
  <a href="#Museu" (click)="openPanel('Museu')">| Museu |</a>
  <a *ngFor="let page of listaAlfa " (click)="openPanel(page)">| {{page}} |</a>
  <mat-divider></mat-divider>
  <a *ngFor="let acr of listaAcr" (click)="openPanel(acr.name)">| {{acr.acr}} |</a>


  <mat-accordion>
    <mat-expansion-panel
    [expanded]="expOpened == page.name" *ngFor="let page of lista | async; trackBy: identifyer" [id]="page.name">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon (click)="topFunction()">home</mat-icon>
          {{page.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{getPageDesc(page)}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let sticker of page.stickers" fxLayout="row wrap" fxLayoutAlign="space-between">
        <div [class]="getQtd(sticker, page) == 0 ? 'color-none' : (getQtd(sticker, page) == 1 ? 'color-have' : 'color-dup')"
        fxFlex="0 1 calc(49%)">
          <mat-icon>girl</mat-icon>
          <mat-icon aria-hidden="true" fontIcon="do_not_disturb_on" (click)="dec(sticker, page, true)"></mat-icon>
          {{sticker}}: {{getQtdG(sticker, page)}}
          <mat-icon aria-hidden="true" fontIcon="add_circle" (click)="inc(sticker, page, true)"></mat-icon>
        </div>
        <div [class]="getQtd(sticker, page) == 0 ? 'color-none' : (getQtd(sticker, page) == 1 ? 'color-have' : 'color-dup')"
        fxFlex="0 1 calc(49%)">
        <mat-icon>boy</mat-icon>
        <mat-icon aria-hidden="true" fontIcon="do_not_disturb_on" (click)="dec(sticker, page, false)"></mat-icon>
          {{sticker}}: {{getQtdO(sticker, page)}}
          <mat-icon aria-hidden="true" fontIcon="add_circle" (click)="inc(sticker, page, false)"></mat-icon>
      </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
